@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-manrope);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-manrope), sans-serif;
}

.font-figtree {
  font-family: var(--font-figtree), sans-serif;
}

.font-lora {
  font-family: var(--font-lora), serif;
}

.font-manrope {
  font-family: var(--font-manrope), sans-serif;
}